<form>
  <div>
    <label>Song Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" name="artist">
  </div>
  <div>
    <label>Music URL:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>